<h2>Lista kursów</h2>

<div>
    <button class="btn btn-primary btn-sm" routerLink="/courses/course-form">Dodaj kurs</button>
</div>
<div>   
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of coursesList">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>
                    <a routerLink="/courses/course-form/{{c.id}}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a (click)="onDelete(c.id, c.name)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
