<h4>Lista kursów</h4>

<div>
    <button class="btn btn-primary btn-sm btn-block" (click)="btnAddCourse()">Dodaj kurs</button>
</div>
<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of coursesList">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>| Edytuj</td>
                <td>| Usuń</td>
            </tr>
        </tbody>
    </table>
</div>